In [2]:
import pandas as pd

In [3]:
pd.read_csv("UofT_edges.csv")

          source    target          emt
0       983859.0  544485.0   503.807815
1       605618.0  362627.0  5157.568486
2       323189.0  118238.0   498.628481
3       919153.0  983859.0   401.962668
4       995748.0  983859.0  5095.458776
...          ...       ...          ...
466228  743092.0  307628.0  2959.506391
466229  420266.0  489593.0   208.011081
466230  441447.0  877470.0  2221.199295
466231  444883.0  137297.0  1175.932049
466232  500103.0  123640.0   100.431608

[466233 rows x 3 columns]